

<li>
    <div class='d-flex flex-row' id='{{this.burger_name}}' data-devoured={{this.devoured}}>
        <h3 class='p-2'>{{this.burger_name}}</h3>
        <button class='devourBtn p-2 btn btn-danger' value='{{this.burger_name}}' data-devoured={{this.devoured}} data-id={{this.id}}>{{#if devoured}}Nom Nom Nom{{else}}Devour This Burger!{{/if}}</button>
    </div>
</li>

